@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 컬러 변수 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
